{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

	<div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">Quel niveau d'anglais as tu ?</h3>
		<br>

		<ul class="col-lg-8 col-lg-offset-2">

		{% for niveau in niveau_anglais %}

		        <li class="
		        	{% if niveau_anglais|length == 5 %}
		        		col-sm-2 {% if loop.first %} col-sm-offset-1 {% endif %}
					{% else %}
						col-sm-{{ 12 / niveau_anglais|length }}
		        	{% endif %} text-center">
		        	
		            <form method="post" action="{{ path('informations_secteur') }}">
		                <button>
		                    <img style="max-width:110px" src="{{ asset('bundles/sos/global/img/anglais/' ~ niveau.id ~ '.png') }}" alt="">
		                    <p>{{ niveau.libelle }}</p>
		                </button>
		                <input type="hidden" value="{{ niveau.id }}" name="anglais">
						<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
						<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
						<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
						<input type="hidden" name="classification" value="{{ data.classification }}">
						<input type="hidden" name="rayon_emploi" value="{{ data.rayon_emploi }}">
						<input type="hidden" name="contrat" value="{{ data.contrat }}">
						<input type="hidden" name="formation_minimum" value="{{ data.formation_minimum }}">
						
						{% if data.contrat_duree is defined %}
							<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">
						{% endif %}

						{% if data.cursus_scolaire is defined %}
							<input type="hidden" name="cursus_scolaire" value="{{ data.cursus_scolaire }}">
						{% endif %}

						<input type="hidden" name="form" value="anglais">
		            </form>
		        </li>

		{% endfor %}

		</ul>
	

   	<div class="clearfix spacer"></div>


</div>

{% endblock %}