{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

	<div id="poste_hotellerie" class="col-xs-12">
		<h3 class="title-heading">Quelles sont tes disponibilités ?</h3>

		<br>
		        	
        <form method="post" action="{{ path('informations_recapitulatif') }}" class="col-sm-offset-4 col-sm-4 col-xs-12">
			
			<input type='hidden' id="datepicker" name="date_debut" data-language='fr' class="datepicker-here-visible form-control" data-position="left top" /><br><br>	
            <button class="btn-soshcr">Enregistrer les critères</button>
			<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
			<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
			<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
			<input type="hidden" name="classification" value="{{ data.classification }}">
			<input type="hidden" name="secteur_activite" value="{{ data.secteur_activite }}">
			<input type="hidden" name="poste" value="{{ data.poste }}">
			<input type="hidden" name="rayon_emploi" value="{{ data.rayon_emploi }}">
			<input type="hidden" name="contrat" value="{{ data.contrat }}">
			<input type="hidden" name="anglais" value="{{ data.anglais }}">
			
			{% if data.service_activite is defined %}
				<input type="hidden" name="service_activite" value="{{ data.service_activite }}">
			{% endif %}
			
			{% if data.contrat_duree is defined %}
				<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">
			{% endif %}

			{% if data.formation_minimum is defined %}
				<input type="hidden" name="formation_minimum" value="{{ data.formation_minimum }}">
			{% endif %}

			{% if data.experience_minimum is defined %}
				<input type="hidden" name="experience_minimum" value="{{ data.experience_minimum }}">
			{% endif %}
			
			{% if data.cursus_scolaire is defined %}
				<input type="hidden" name="cursus_scolaire" value="{{ data.cursus_scolaire }}">
			{% endif %}

			<input type="hidden" name="form" value="date">
        </form>


   	<div class="clearfix spacer"></div>

</div>

{% endblock %}