{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

	<div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">Quelle formation as tu ?</h3>
		<ul class="col-lg-8 col-lg-offset-2">

		<br>

		{% for formation in formation_minimum %}

		        <li class="
		        	{% if formation_minimum|length == 5 %}
		        		col-sm-2 {% if loop.first %} col-sm-offset-1 {% endif %}
					{% else %}
						col-sm-{{ 12 / formation_minimum|length }}
		        	{% endif %} text-center">
		        	
		            <form method="post" action="{{ path('informations_anglais') }}">
		                <button>
		                    <img style="max-width:110px" src="{{ asset('bundles/sos/global/img/formation/' ~ formation.id ~ '.png') }}" alt="">
		                    <p></p>
		                </button>
		                <input type="hidden" value="{{ formation.id }}" name="formation_minimum">
						<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
						<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
						<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
						<input type="hidden" name="classification" value="{{ data.classification }}">
						<input type="hidden" name="rayon_emploi" value="{{ data.rayon_emploi }}">
						<input type="hidden" name="contrat" value="{{ data.contrat }}">
						
						{% if data.contrat_duree is defined %}
							<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">
						{% endif %}

						{% if data.cursus_scolaire is defined %}
							<input type="hidden" name="cursus_scolaire" value="{{ data.cursus_scolaire }}">
						{% endif %}

						<input type="hidden" name="form" value="formation">
		            </form>
		        </li>

		{% endfor %}

		</ul>
	

   	<div class="clearfix spacer"></div>

</div>

{% endblock %}