{% extends 'SosBundle::layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/sos/global/js/usercriteres.js') }}"></script>
{% endblock %}

{% block sos_body %}

	<div id="poste_hotellerie" class="col-xs-12 sos-form user-critere-form">
		<h3 class="title-heading">{{ app.user.prenom|capitalize }}, quel type de contrat recherche tu ?</h3>
		<p>(Plusieurs choix possibles)</p>
		
		<ul class="col-lg-8 col-lg-offset-2">
			<form class="informations" method="post" action="{{ path('usercriteres_step_2') }}">
				<input type="hidden" name="form" value="step_1">
				{% for contrat in contrats %}

					<li class="
				        	{% if contrats|length == 5 %}
				        		col-sm-2 {% if loop.first %} col-sm-offset-1 {% endif %}
							{% else %}
								col-sm-{{ 12 / contrats|length }}
				        	{% endif %} text-center">
						<label style="cursor:pointer">
							<i class="fa fa-check validate" aria-hidden="true"></i>
							<input type="checkbox" class="main-input hidden" data-name="contrat" name="data[{{ contrat.id }}][contrat]" value="{{ contrat.id }}">&nbsp;<img style="max-width:110px" src="{{ asset('bundles/sos/global/img/contrat/' ~ contrat.id ~ '.png') }} " alt="" class="img-responsive form-img">
						</label>

						<div class="text-left hidden sub-element">
							
							{% if contrat.getCursus().isEmpty() == false %}
								<h4 class="text-center">Cursus</h4>
								<div class="sub-element">
									{% for cursus in contrat.getCursus() %}
										{% if cursus.id != 5 %}
											<label style="width:100%">
												<input {% if contrat.id == 5 or contrat.id == 4 %}type="radio" {% else %}type="checkbox"{% endif %} class="sub-input" data-name="cursus" name="data[{{ contrat.id }}][cursus][]" value="{{ cursus.id }}">
												<span>{{ cursus.libelle }}</span>
											</label>
										{% endif %}
									{% endfor %}
								</div>
							{% endif %}
									
							{% if contrat.getDuree().isEmpty() == false and contrat.id != 4 %}
								<h4 class="text-center">Durée</h4>
								<div class="sub-element">
									{% for duree in contrat.getDuree() %}
										{% if duree.id != 3 %}
											<label style="width:100%">
												<input {% if contrat.id == 5 or contrat.id == 4 %}type="radio"{% else %}type="checkbox"{% endif %} class="sub-input" data-name="duree" name="data[{{ contrat.id }}][duree][]" value="{{ duree.id }}">
												<span>{{ duree.libelle }}</span>
											</label>
										{% endif %}
									{% endfor %}
								</div>
							{% endif %}
							
						</div>
					</li>

				{% endfor %}
				<div class="clearfix"></div>
				<br><br><br>
				<button type="submit" class="btn btn-soshcr text-center">Suivant</button>
			</form>
		</ul>
	

   	<div class="clearfix spacer"></div>
</div>

{% endblock %}