{% extends 'SosBundle::layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/sos/global/js/usercriteres.js') }}"></script>
{% endblock %}

{% block sos_body %}

		<div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">Quels postes recherches-tu ?</h3>
		<p>(Indique ton expérience sur chaque poste sélectionné)</p>
		<br>
		<ul class="col-lg-8 col-lg-offset-2">
			<form class="informations user-critere-form" method="post" action="{% if app.user.getCriteres().isEmpty() %}{{ path('usercriteres_step_8') }}{% else %}{{ path('modification_usercriteres') }}{% endif %}">
				<input type="hidden" name="form" value="{% if app.user.getCriteres()|length > 0 %}step_8{% else %}step_5{% endif %}">
				<h3 class="title-heading">Hôtellerie</h3><br><br>
				{% for poste in postes %}
					{% if poste.getSecteur().id == 1 %}
					<li class="col-xs-6 col-sm-2 text-center">
						<label>
							<i class="fa fa-check validate" aria-hidden="true"></i>
							{# Check si l'user a déjà des user criteres, si oui on check les checkbox #}
							<input 
							{% for criteres in app.user.getCriteres() %}
								{% if criteres.getPoste().getId() == poste.id %}checked{% endif %}
							{% endfor %}
							type="checkbox" class="main-input select-usercritere hidden" data-name="poste" name="data[{{ poste.id }}][poste]" value="{{ poste.id }}">
							<img style="max-height:75px; width:auto;" src="{{ asset('bundles/sos/global/img/poste/' ~ poste.id ~ '.png') }}" alt=""><br>
							{{ poste.libelle|raw }}
						</label>
						<br>
						<select class="hidden text-center sub-element" name="data[{{ poste.id }}][experience]">
							<option value="0">--</option>
							{% for experience in experiences %}
								{# <label class="col-sm-12"><input type="radio" class="text-left sub-input" data-name="experience" name="data[{{ experience.id }}][experience]" value="{{ experience.id }}">&nbsp;{{ experience.libelle }}</label> #}
								<option 
								{% for criteres in app.user.getCriteres() %}
										{% if criteres.getExperience().getId() == experience.id and criteres.getPoste().getId() == poste.getId() %}selected{% endif %}
								{% endfor %}
								value="{{ experience.id }}">{{ experience.libelle|raw }}</option>
							{% endfor %}
						</select>
					</li>
					{% endif %}
				{% endfor %}

				<div class="clearfix"></div>
				<br><br>
				<h3 class="title-heading">Restauration</h3>
				<h4>(Salle)</h4>
				<br><br>
				
				{% for poste in postes %}
					{% if poste.getSecteur().id == 2 and poste.getService().id == 1 %}
					
					<li class="col-xs-6 col-sm-2 text-center">
						<label>
							<i class="fa fa-check validate" aria-hidden="true"></i>
							<input 
							{% for criteres in app.user.getCriteres() %}
								{% if criteres.getPoste().getId() == poste.id %}checked{% endif %}
							{% endfor %}
							type="checkbox" class="main-input select-usercritere hidden" data-name="poste" name="data[{{ poste.id }}][poste]" value="{{ poste.id }}">
							<img style="max-height:75px; width:auto;" src="{{ asset('bundles/sos/global/img/poste/' ~ poste.id ~ '.png') }}" alt=""><br>
							{{ poste.libelle|raw }}
						</label>
						<br>
						<select class="hidden text-center sub-element" name="data[{{ poste.id }}][experience]">
							<option value="0">--</option>
							{% for experience in experiences %}
								{# <label class="col-sm-12"><input type="radio" class="text-left sub-input" data-name="experience" name="data[{{ experience.id }}][experience]" value="{{ experience.id }}">&nbsp;{{ experience.libelle }}</label> #}
								<option 
								{% for criteres in app.user.getCriteres() %}
										{% if criteres.getExperience().getId() == experience.id and criteres.getPoste().getId() == poste.getId() %}selected{% endif %}
								{% endfor %}
								value="{{ experience.id }}">{{ experience.libelle|raw }}</option>
							{% endfor %}
						</select>
					</li>
					{% endif %}
				{% endfor %}
				<div class="clearfix"></div>
				<br><br>
				<h4>(Cuisine)</h4>
				<br><br>
				{% for poste in postes %}
					{% if poste.getSecteur().id == 2 and poste.getService().id == 2 %}
	
					<li class="col-xs-6 col-sm-2 text-center">
						<label>
							<i class="fa fa-check validate" aria-hidden="true"></i>
							<input 
							{% for criteres in app.user.getCriteres() %}
								{% if criteres.getPoste().getId() == poste.id %}checked{% endif %}
							{% endfor %}
							type="checkbox" class="main-input select-usercritere hidden" data-name="poste" name="data[{{ poste.id }}][poste]" value="{{ poste.id }}">
							<img style="max-height:75px; width:auto;" src="{{ asset('bundles/sos/global/img/poste/' ~ poste.id ~ '.png') }}" alt=""><br>
							{{ poste.libelle|raw }}
						</label>
						<br>
						<select class="hidden text-center sub-element" name="data[{{ poste.id }}][experience]">
							<option value="0">--</option>
							{% for experience in experiences %}
								{# <label class="col-sm-12"><input type="radio" class="text-left sub-input" data-name="experience" name="data[{{ experience.id }}][experience]" value="{{ experience.id }}">&nbsp;{{ experience.libelle }}</label> #}
								<option
								{% for criteres in app.user.getCriteres() %}
										{% if criteres.getExperience().getId() == experience.id and criteres.getPoste().getId() == poste.getId() %}selected{% endif %}
								{% endfor %}
								 value="{{ experience.id }}">{{ experience.libelle|raw }}</option>
							{% endfor %}
						</select>
					</li>
					{% endif %}
				{% endfor %}
				<br>

				<div class="clearfix"></div>
				<br><br><br>
					
					<button type="submit" class="btn btn-soshcr text-center">Suivant</button>
	
				
			</form>
		</ul>
	

   	<div class="clearfix spacer"></div>
</div>

{% endblock %}