{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

	<div id="poste_hotellerie" class="col-xs-12 col-sm-4 col-sm-offset-4 sos-form">
		<form class="informations" method="post" action="{{ path('usercriteres_step_5') }}">
			<h3 class="title-heading">{{ app.user.prenom|capitalize }}, quelle formation hotelière as tu ?</h3>
			<br>
			<ul>
				<input type="hidden" name="form" value="step_4">
				{% for formation in formations %}
					<li class="col-sm-3 text-center">
						<label><input type="checkbox" class="solo-input" data-name="formation" name="formation[][id]" value="{{ formation.id }}">&nbsp;{{ formation.libelle }}</label>
						<br>
					</li>
				{% endfor %}
			</ul>
			<div class="clearfix"></div>
			<br><br><br>
			<h3 class="title-heading">Quel niveau d'anglais as tu ?</h3>
			<br>
			<ul>
				{% for anglais in niveauAnglais %}
					<li class="col-sm-4 text-center">
						<label><input type="radio" class="solo-input" data-name="anglais" name="anglais" value="{{ anglais.id }}">&nbsp;{{ anglais.libelle }}</label>
						<br>
					</li>
				{% endfor %}
			</ul>
			<div class="clearfix"></div>
			<br><br><br>
			<label><input class="required-validation" type="checkbox">&nbsp;Je certifie sur l’honneur l’exactitude de ces informations</label>
			<br>
			<button type="submit" class="btn btn-soshcr text-center">Suivant</button>
		</form>
		<div class="clearfix spacer"></div>
	</div>

{% endblock %}