{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

	<div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">Quelle durée ?</h3>
		<br>
		<ul class="col-lg-8 col-lg-offset-2">

		{% for duree in contrat_duree %}

		        <li class="
		        	{% if contrat_duree|length == 5 %}
		        		col-sm-2 {% if loop.first %} col-sm-offset-1 {% endif %}
					{% else %}
						col-sm-{{ 12 / contrat_duree|length }}
		        	{% endif %} text-center">
		        	
		            <form method="post" action="
		            {% if data.contrat == 1 or data.contrat == 2 %}
		            	{{ path('informations_classification') }}
		            {% elseif data.contrat == 4 %}
		            	{{ path('informations_cursus') }}
		            {% endif %}">
		                <button>
		                    <img style="max-width:110px" src="{{ asset('bundles/sos/global/img/duree_contrat/' ~ duree.id ~ '.png') }}" alt="">
		                    <p>{{ duree.libelle }}</p>
		                </button>
		                <input type="hidden" value="{{ duree.id }}" name="contrat_duree">
						<input type="hidden" name="contrat" value="{{ data.contrat }}">
						<input type="hidden" name="form" value="duree">
		            </form>
		        </li>

		{% endfor %}

		</ul>
	

   	<div class="clearfix spacer"></div>

    <form action="{{ path('informations_contrat')}}" method="post">
		
		<button type="submit" class="pull-left back col-sm-offset-2"><i class="fa fa-caret-left" aria-hidden="true"></i> Précédent</button>
	
	</form>
</div>

{% endblock %}