{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

		<div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">{{ app.user.prenom|capitalize }}, quel type de contrat recherchez-vous ?</h3>

		<ul class="col-lg-8 col-lg-offset-2">

		{% for contrat in contrats %}

		        <li class="
		        	{% if contrats|length == 5 %}
		        		col-sm-2 {% if loop.first %} col-sm-offset-1 {% endif %}
					{% else %}
						col-sm-{{ 12 / contrats|length }}
		        	{% endif %} text-center">
		        	
		            <form method="post" action="
		            {% if contrat.libelle == "CDD" or contrat.libelle == "CDI" or contrat.libelle == "Stage" %}
		            	{{ path('informations_duree') }}
		            {% elseif contrat.libelle == "Extra" %}
		            	{{ path('informations_classification') }}
		            {% elseif contrat.libelle == "Apprentissage" %}
		            	{{ path('informations_cursus') }}
		            {% endif %}">
		                <button>
							<img style="max-width:110px" src="{{ asset('bundles/sos/global/img/contrat/' ~ contrat.id ~ '.png') }} " alt="" class="img-responsive form-img">
		                    {# <p>{{ contrat.libelle }}</p> #}
		                </button>
		                <input type="hidden" value="{{ contrat.id }}" name="contrat">
						<input type="hidden" name="form" value="contrat">
		            </form>
		        </li>

		{% endfor %}

		</ul>
	

   	<div class="clearfix spacer"></div>
</div>

{% endblock %}