{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

	<div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">Quelle expérience minimum ?</h3>

		<br>

		<ul class="col-lg-8 col-lg-offset-2">

		{% for experience in experience_minimum %}

		        <li class="
		        	{% if experience_minimum|length == 5 %}
		        		col-sm-2 {% if loop.first %} col-sm-offset-1 {% endif %}
					{% else %}
						col-sm-{{ 12 / experience_minimum|length }}
		        	{% endif %} text-center">
		        	
		            <form method="post" action="{{ path('informations_date')}}">
		                <button>
		                    <img style="max-width:110px" src="{{ asset('bundles/sos/global/img/experience/' ~ experience.id ~ '.png') }}" alt="">
		                    {% if experience.id == 1 %}
		                    	<p></p>
		                    {% elseif experience.id == 2 %}
		                    	<p></p>
		                    {% elseif experience.id == 3 %}
		                    	<p></p>
		                    {% elseif experience.id == 4 %}
		                    	<p></p>
		                    {% elseif experience.id == 5 %}
		                    	<p></p>
		                    {% endif %}
		                </button>
		                <input type="hidden" value="{{ experience.id }}" name="experience_minimum">
					<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
					<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
					<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
					<input type="hidden" name="rayon_emploi" value="{{ data.rayon_emploi }}">
					<input type="hidden" name="classification" value="{{ data.classification }}">
					<input type="hidden" name="secteur_activite" value="{{ data.secteur_activite }}">
					<input type="hidden" name="contrat" value="{{ data.contrat }}">
					<input type="hidden" name="contrat" value="{{ data.contrat }}">
					<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">
					<input type="hidden" name="anglais" value="{{ data.anglais }}">
					<input type="hidden" name="formation_minimum" value="{{ data.formation_minimum }}">
					<input type="hidden" name="poste" value="{{ data.poste }}">

					{% if data.cursus_scolaire is defined %}
						<input type="hidden" name="cursus_scolaire" value="{{ data.cursus_scolaire }}">
					{% endif %}
						
						<input type="hidden" name="form" value="experience">
		            </form>
		        </li>

		{% endfor %}

		</ul>
	

   	<div class="clearfix spacer"></div>

    <form action="{% if data.formation_minimum is defined %}{{ path('formation')}}{% else %}{{ path('contrat')}}{% endif %}" method="post">
		<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
		<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
		<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
		<input type="hidden" name="classification" value="{{ data.classification }}">
		<input type="hidden" name="poste" value="{{ data.poste }}">
		<input type="hidden" name="secteur_activite" value="{{ data.secteur_activite }}">
		<input type="hidden" name="contrat" value="{{ data.contrat }}">
		
		{# Si on est dans la restauration #}
		{% if data.service_activite is defined %}
			<input type="hidden" name="service_activite" value="{{ data.service_activite }}">
		{% endif %}

		{% if data.contrat_duree is defined %}
			<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">			
		{% endif %}
		
		{# Si on est CDD ou CDI #}
		{% if data.formation_minimum is defined %}
			<input type="hidden" name="formation_minimum" value="{{ data.formation_minimum }}">
			<input type="hidden" name="form" value="duree">
		{% else %}
			<input type="hidden" name="form" value="poste">	
		{% endif %}

		
		
		
		<button type="submit" class="pull-left back col-sm-offset-2"><i class="fa fa-caret-left" aria-hidden="true"></i> Précédent</button>
	
	</form>
</div>

{% endblock %}