<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Le recrutement en hotellerie restauration !{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/sos/global/css/jquery-ui/jquery-ui.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/global/css/jquery-ui/jquery-ui.structure.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/global/css/jquery-ui/jquery-ui.theme.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/global/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/bootstrap/css/bootstrap-theme.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/fancybox/css/jquery.fancybox.min.css') }}">
            <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
            <link rel="stylesheet" href="{{ asset('bundles/sos/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
            <link rel="stylesheet" type="text/css"  media="print">
            <link rel="stylesheet" href="{{ asset('bundles/sos/login-modal/assets/css/form-elements.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sos/sweetalert/sweetalert.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/login-modal/assets/css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        

        {% block header %}
          {% include('@SosBundle/Resources/views/header.html.twig') %}  
        {% endblock %}
        
        {% block body %}{% endblock %}
        
        {% block footer %}
          {% include('@SosBundle/Resources/views/footer.html.twig') %}  
        {% endblock %}

        <script type="text/javascript" src="{{ asset('bundles/sos/global/js/jquery-1.11.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sos/global/js/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sos/sweetalert/sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZUgAv7tkerkL2y5D1jwcvux9gGZ2NCE&libraries=places&region=fr"></script>
        <script type="text/javascript" src="{{ asset('bundles/sos/global/js/script.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sos/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sos/fancybox/js/jquery.fancybox.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sos/login-modal/assets/js/placeholder.js') }}"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/sos/login-modal/assets/js/scripts.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
