{# Gestion des erreurs par la sweetalert #}
{% if error is defined and error != ""  %}
  <script>
  var error = "{{ error }}";
  </script>
{% endif %}

{% if validation is defined and validation != "" %}
    <script>
        var validation = "{{ validation }}";
    </script>
{% endif %}

<header class="header-small">
    <div class="col-xs-2">
        <a href="{{ path('index') }}" id="logo"> <img class="img-responsive" src="{{ asset('bundles/sos/global/img/logo.png') }}" alt=""> </a>
    </div> 
    
    <!-- Title desktop -->
     <div class="col-xs-8 text-center">
        <img class="title" src="{{ asset('bundles/sos/global/img/title.png') }}" class="img-responsive">  
    </div>
    <!-- Title desktop -->

     <div class="col-xs-2" id="user-nav">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="#" id="user-icon">{{ app.user.prenom|capitalize }}&nbsp;&nbsp;<i style="font-size:10px" class="fa fa-chevron-right" aria-hidden="true"></i></a>
        <a href="{{path('fos_user_security_logout')}}"><i class="fa fa-power-off" aria-hidden="true"></i></a>
      {% else %}
        <a class="launch-modal hidden-xs hidden-sm" id="login" href="#" data-modal-id="modal-login">Espace candidat</a>
      {% endif %} 
    </div>  

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
  <ul id="user-menu">
    <li><a href="{{ path('public_profil', {'id' : app.user.id}) }}">Mon Profil</a></li>
    <li><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
  </ul>
{% endif %}
</header>
<div id="barre-jaune-header"></div>
<!-- MODAL -->
<div class="modal fade" id="modal-login"  role="dialog" aria-labelledby="modal-login-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title" id="modal-login-label">Accède à ton espace ou <a class="btn btn-yellow" href="{{path('fos_user_registration_register')}}">inscris toi !</a> </h3>
        <p>Entre ton adresse email et ton mot de passe</p>
      </div>
      <div class="modal-body">
        
        {{ render(controller("FOSUserBundle:Security:login")) }}
        
      </div>
    </div>
  </div>
</div>