{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form col-sm-4 col-sm-offset-4 col-xs-12'}}) }}
    
    <div class="form-group">
		{{ form_errors(form.email) }}
		{{ form_label(form.email) }}
		{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
	</div>
	
	<div class="form-group">
		{{ form_errors(form.plainPassword.first) }}
		{{ form_label(form.plainPassword.first) }}
		{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
	</div>
	
	<div class="form-group">
		{{ form_errors(form.plainPassword.second) }}
		{{ form_label(form.plainPassword.second) }}
		{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
	</div>
	
	<div class="form-group">
		{{ form_errors(form.prenom) }}
		{{ form_label(form.prenom) }}
		{{ form_widget(form.prenom, { 'attr': {'class': 'form-control'} }) }}
	</div>

	<div class="form-group">
		{{ form_errors(form.nom) }}
		{{ form_label(form.nom) }}
		{{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
	</div>

	<div class="form-group">
		{{ form_errors(form.telephone) }}
		{{ form_label(form.telephone) }}
		{{ form_widget(form.telephone, { 'attr': {'class': 'form-control'} }) }}
	</div>

	<div class="form-group">
		{{ form_errors(form.niveauAnglais) }}
		{{ form_label(form.niveauAnglais) }}
		{{ form_widget(form.niveauAnglais, { 'attr': {'class': 'form-control'} }) }}
	</div>

	<div class="form-group">
		{{ form_errors(form.cursusScolaire) }}
		{{ form_label(form.cursusScolaire) }}
		{{ form_widget(form.cursusScolaire, { 'attr': {'class': 'form-control'} }) }}
	</div>

	<div class="form-group">
		{{ form_errors(form.rayonEmploi) }}
		{{ form_label(form.rayonEmploi) }}
		{{ form_widget(form.rayonEmploi, { 'attr': {'class': 'form-control', 'placeholder' : 'en Km'} }) }}
	</div>

	<div class="form-group">
		{{ form_errors(form.dateNaissance) }}
		{{ form_label(form.dateNaissance) }}
		{{ form_widget(form.dateNaissance, { 'attr': {'class': 'form-control'} }) }}
	</div>

	{{ form_rest(form) }}

    <input class="btn-soshcr" type="submit"value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
