{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

<div class="container" style="padding-top: 60px;">
  <div class="row">

    <!-- edit form column -->
    <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12 personal-info">
      <h1 class="page-header">Informations Personnelles</h1>
      <form class="form-horizontal" name="profil-update" method="post" action="{{ path('profil') }}" role="form">
        
          <p class="col-sm-6 text-right prim-color"><strong>Prénom :</strong></p>
          <p class="col-sm-6 text-left">{{ app.user.prenom|capitalize }}</p>
        <br>
        
          <p class="col-sm-6 text-right prim-color"><strong>Nom :</strong></p>
          <p class="col-sm-6 text-left">{{ app.user.nom|capitalize }}</p>
        <br>
        
          <p class="col-sm-6 text-right prim-color"><strong>Téléphone :</strong></p>
          <p class="col-sm-6 text-left">{{ app.user.telephone }}</p>
        <br>
        
          <p class="col-sm-6 text-right prim-color"><strong>Email :</strong></p>
          <p class="col-sm-6 text-left">{{ app.user.email }}</p>
        <br>
        
          <p class="col-sm-6 text-right prim-color"><strong>Date de naissance:</strong></p>
          <p class="col-sm-6 text-left">{{ app.user.dateNaissance|date('Y-m-d') }}</p>
        <br>

      </form>
    </div>
  </div>
</div>
{% endblock %}
