{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

<div class="container" style="padding-top: 60px;">
  <div class="row">

    <!-- edit form column -->
    <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12 personal-info">
      <h1 class="page-header">Informations Personnelles</h1>
      <form class="form-horizontal" name="profil-update" method="post" action="{{ path('profil') }}" role="form">
        
        <div class="form-group">
          <label for="prenom" class="col-sm-6 text-right prim-color">Prénom :</label>
          <div class="col-sm-6">
            <p class="text-left">{{ app.user.prenom }}</p>
          </div>
        </div>
        
        <div class="form-group">
          <label for="nom" class="col-sm-6 text-right prim-color">Nom :</label>
          <div class="col-sm-6">
            <p class="text-left">{{ app.user.nom }}</p>
          </div>
        </div>

        <div class="form-group">
          <label for="telephone" class="col-sm-6 text-right prim-color">Téléphone :</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="telephone" name="telephone" required value="{{ app.user.telephone }}" placeholder="{{app.user.telephone}}">  
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-sm-6 text-right prim-color">Email :</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="email" name="email" required value="{{ app.user.email }}" placeholder="{{app.user.email}}">  
          </div>
        </div>
    
        <div class="form-group">
          <label for="dateNaissance" class="col-sm-6 text-right prim-color">Date de naissance :</label>
          <div class="col-sm-6">
            <p class="text-left">{{ app.user.dateNaissance|date('d/m/Y') }}</p>
          </div>
        </div>
        <button class="btn btn-soshcr">Mettre à jour</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
