{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}
    <div id="poste_hotellerie" class="col-xs-12 sos-form">
        <h2 class="title-heading">Que veux tu faire {{user.prenom|capitalize }} ?</h2>
    </div>
    <br><br><br><br>

    <div class="container">
        <div class="row">
            <!-- Boxes de Acoes -->
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-thumbs-o-up"></i></div>
                        <div class="info">
                            <h3 class="title">Demander une recommandation</h3>
                            <p>
                                C'est idéal pour <b>rassurer les recruteurs et être contacté le premier</b>, fais appel à tes anciens employeurs :
                            </p>

                            <a href="{{ path('demandeRecommandation') }}" class="btn btn-soshcr" title="Title Link">
                                Je demande 1 recommandation&nbsp;&nbsp;<i class="fa fa-share-square" aria-hidden="true"></i>
                            </a>
                            <br>
                            <br>
                            <a href="{{ path('mesrecommandations') }}">Je consulte mes recommandations</a>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-refresh"></i></div>
                        <div class="info">
                            <h3 class="title">Mettre à jour</h3>
                            <p>
                                <ul >
                                
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('dashboard_admin') }}">Administration</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('information') }}">Mon complément d'info</a></li>
                                    <li><a href="{{ path('modification_disponibilites') }}">Mes disponibilités</a></li>
                                    <li><a href="{{ path('usercriteres_step_1') }}">Mes critères de recherche</a></li>
                                    <li><a href="{{ path('profil') }}">Mes coordonnées</a></li>

                                    <li><a href="{{ path('delete_user') }}" class="label label-danger">Supprimer mon compte</a></li>

                                </ul>
                            </p>
                            <div class="more">
                            </div>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-desktop"></i></div>
                        <div class="info">
                            <h3 class="title">Date d’expiration du compte {{user.dateAbonnement|date("d/m/Y")}}</h3>
                            <p>
                            Les comptes sont automatiquement supprimés 3 mois après leurs création
                            </p>

                            <a href="{{ path('abonnement') }}" title="Title Link" class="btn btn-soshcr">
                                Je conserve mon profil&nbsp;&nbsp;<i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                            </a>

                            <p>
                             <b>   12 mois de plus = 15 € <br> ou <br> 36 mois de plus = 30 €</b>
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
            <!-- /Boxes de Acoes -->
        </div>
    </div>


    <div class="container">
        <div style="background: rgba(0, 0, 0, 0.04);padding: 15px;border-radius: 10px;" class="quick-contact">

            <a href="https://www.facebook.com/SOSHCR" class="btn btn-yellow"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>&nbsp;&nbsp;Conseils</a>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row contact row-first">
                            </div>
                                <ul class="col-sm-4" style="list-style-type:none">
                                    <li>Répondre rapidement aux offres</li>
                                    <li>Se renseigner sur l'entreprise</li>
                                </ul>
                                <ul class="col-sm-4" style="list-style-type:none">
                                    <li>Faire attention aux arnaques</li>
                                    <li>Avoir un CV à jour</li>
                                </ul>
                                <ul class="col-sm-4" style="list-style-type:none">
                                    <li>Honorer ses engagements</li>
                                    <li>Avoir des recommandations</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}