{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

	<div id="classification" class="col-xs-12 sos-form">
		<h3 class="title-heading">Pour quel type d'établissement recrutez-vous ?</h3>


		{% if data.match_employe.nb == 0 %}
			<p>il n'y a aucun candidat autour de vous. </p>
		{% elseif data.match_employe.nb > 1 %}
			<p>il y a {{ data.match_employe.nb }} candidats autour de vous. </p>
		{% elseif data.match_employe.nb == 1 %}
			<p>il y a {{ data.match_employe.nb }} candidat autour de vous.</p>
		{% endif %}
		<br>

		<ul class="col-lg-8 col-lg-offset-2">
			{% for etablissement in etablissements %}
				<li class="
					{% if etablissements|length == 5 %}
		        		col-sm-2 {% if loop.first %} col-sm-offset-1 {% endif %}
					{% else %}
						col-sm-{{ 12 / etablissements|length }}
		        	{% endif %} text-center">
					<form method="post" action="{{ path('poste') }}">
						<button>
							<img style="max-width:110px" src="{{ asset('bundles/sos/global/img/rating/' ~ etablissement.id )}}-stars.png" alt="" class="img-responsive form-img">
							<p>{{ etablissement.libelle | raw }}</p>
						</button>
						<input type="hidden" value="{{ etablissement.id }}" name="classification">

						<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
						<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
						<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">

						<input type="hidden" name="form" value="classification">
					</form>
				</li>
			{% endfor %}
		</ul>
		<div class="clearfix spacer"></div>
	    <form action="{{ path('ville')}}" method="post">
			<button type="submit" class="pull-left back col-sm-offset-2"><i class="fa fa-caret-left" aria-hidden="true"></i> Précédent</button>
		</form>
	</div>

{% endblock %}