{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

	<div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">Pour quel contrat recrutez-vous ?</h3>

		{% if data.match_employe.nb == 0 %}
			<p>il n'y a aucun candidat autour de vous. </p>
		{% elseif data.match_employe.nb > 1 %}
			<p>il y a {{ data.match_employe.nb }} candidats autour de vous. </p>
		{% elseif data.match_employe.nb == 1 %}
			<p>il y a {{ data.match_employe.nb }} candidat autour de vous.</p>
		{% endif %}
		<br>

		<ul class="col-lg-8 col-lg-offset-2">

			{% for contrat in contrats %}

				<li class="col-xs-6
		        	{% if contrats|length == 5 %}
		        		col-sm-2 {% if loop.first %} col-sm-offset-1 {% endif %}
					{% else %}
						col-sm-{{ 12 / contrats|length }}
		        	{% endif %} text-center">

					<form method="post" action="{{ path('date') }}">
						<button>
							<img style="max-width:110px" src="{{ asset('bundles/sos/global/img/contrat/' ~ contrat.id ~ '.png') }} " alt="" class="img-responsive form-img">
							{# <p>{{ contrat.libelle }}</p> #}
						</button>
						<input type="hidden" value="{{ contrat.id }}" name="contrat">
						<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
						<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
						<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
						<input type="hidden" name="classification" value="{{ data.classification }}">
                        {% for poste in data.poste %}
							<input type="hidden" name="poste[]" value="{{ poste }}">
                        {% endfor %}
						<input type="hidden" name="form" value="contrat">
					</form>
				</li>

			{% endfor %}

		</ul>


		<div class="clearfix spacer"></div>

		<form action="{{ path('poste')}}" method="post">
			<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
			<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
			<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
			<input type="hidden" name="classification" value="{{ data.classification }}">
			<input type="hidden" name="form" value="classification">
			<button type="submit" class="pull-left back col-sm-offset-2"><i class="fa fa-caret-left" aria-hidden="true"></i> Précédent</button>
		</form>
	</div>

{% endblock %}
