{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

	<div id="poste_hotellerie" class="col-xs-12 sos-form">
		{% if data.contrat == 1 or data.contrat == 2 %}
			<h3 class="title-heading">Contrat à temps partiel ou temps plein ?</h3>
		{% elseif data.contrat == 5 %}
			<h3 class="title-heading">Quelle est la durée requise ?</h3>
		{% endif %}
		<ul class="col-lg-8 col-lg-offset-2">

			{% if data.match_employe.nb == 0 %}
				<p>il n'y a aucun candidat autour de vous. </p>
			{% elseif data.match_employe.nb > 1 %}
				<p>il y a {{ data.match_employe.nb }} candidats autour de vous. </p>
			{% elseif data.match_employe.nb == 1 %}
				<p>il y a {{ data.match_employe.nb }} candidat autour de vous.</p>
			{% endif %}
		<br>

		{% for duree in contrat_duree %}

		        <li class="col-xs-6
		        	{% if contrat_duree|length == 5 %}
		        		col-sm-2 {% if loop.first %} col-sm-offset-1 {% endif %}
					{% else %}
						col-sm-{{ 12 / contrat_duree|length }}
		        	{% endif %} text-center">

		            <form method="post" action="
		            {% if data.contrat == 1 or data.contrat == 2 %}
		            	{{ path('formation') }}
		            {% elseif data.contrat == 5 %}
		            	{{ path('cursus') }}
		            {% endif %}">
		                <button>
		                    <img style="max-width:90px" src="{{ asset('bundles/sos/global/img/duree_contrat/' ~ duree.id ~ '.png') }}" alt="">
							{% if data.contrat == 1 or data.contrat == 2 %}
		                    <p>{{ duree.libelle }} </p>
							{% else %}
								<p></p>
							{% endif %}
		                </button>
		                <input type="hidden" value="{{ duree.id }}" name="contrat_duree">
						<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
						<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
						<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
						<input type="hidden" name="classification" value="{{ data.classification }}">
                        {% for poste in data.poste %}
							<input type="hidden" name="poste[]" value="{{ poste }}">
                        {% endfor %}
						<input type="hidden" name="contrat" value="{{ data.contrat }}">
						<input type="hidden" name="form" value="duree">
		            </form>
		        </li>

		{% endfor %}

		</ul>
	

   	<div class="clearfix spacer"></div>

    <form action="{{ path('contrat')}}" method="post">
		<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
		<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
		<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
		<input type="hidden" name="classification" value="{{ data.classification }}">
        {% for poste in data.poste %}
			<input type="hidden" name="poste[]" value="{{ poste }}">
        {% endfor %}
		<input type="hidden" name="form" value="poste">
		
		<button type="submit" class="pull-left back col-sm-offset-2"><i class="fa fa-caret-left" aria-hidden="true"></i> Précédent</button>
	
	</form>
</div>

{% endblock %}