{% extends 'SosBundle::layout.html.twig' %}

{% block content %}

	<div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">Quel cursus ?</h3>

		{% if data.match_employe.nb == 0 %}
			<p>Personne ne correspond à vos critères. </p>
		{% elseif data.match_employe.nb > 1 %}
			<p>{{ data.match_employe.nb }} personnes correspondent à vos critères. </p>
		{% elseif data.match_employe.nb == 1 %}
			<p>{{ data.match_employe.nb }}personne correspond à vos critères.</p>
		{% endif %}
		<br>

		<ul class="col-lg-8 col-lg-offset-2">

		{% for cursus in cursus_scolaire %}

		        <li class="col-sm-2 col-md-2 text-center">
		            <form method="post" action="{{ path('anglais') }}">
		                <button>
		                    <img src="{{ asset('bundles/sos/global/img/' ~ cursus.id ~ '-stars.png') }}" alt="">
		                    <p>{{ cursus.libelle }}</p>
		                </button>
		                <input type="hidden" value="{{ cursus.id }}" name="cursus_scolaire">
						<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
						<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
						<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
						<input type="hidden" name="classification" value="{{ data.classification }}">
						<input type="hidden" name="secteur_activite" value="{{ data.secteur_activite }}">
						{# Si on est dans la restauration #}
						{% if data.service_activite is defined %}
							<input type="hidden" name="service_activite" value="{{ data.service_activite }}">
						{% endif %}
						<input type="hidden" name="poste" value="{{ data.poste }}">
						<input type="hidden" name="contrat" value="{{ data.contrat }}">
						{# Si on a choisi un stage #}
						{% if data.contrat_duree is defined %}
							<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">
						{% endif %}


						<input type="hidden" name="form" value="cursus">
		            </form>
		        </li>

		{% endfor %}

		</ul>
	

   	<div class="clearfix spacer"></div>

    <form action="
    	{% if data.contrat == 1 or data.contrat == 2 or data.contrat == 4 %}
        	{{ path('duree') }}
        {% elseif data.contrat == 5 %}
        	{{ path('contrat') }}
        {% endif %}" method="post">
		<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
		<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
		<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
		<input type="hidden" name="classification" value="{{ data.classification }}">
		<input type="hidden" name="secteur_activite" value="{{ data.secteur_activite }}">
		{# Si on est dans la restauration #}
		{% if data.service_activite is defined %}
			<input type="hidden" name="service_activite" value="{{ data.service_activite }}">
		{% endif %}
		<input type="hidden" name="poste" value="{{ data.poste }}">
		<input type="hidden" name="contrat" value="{{ data.contrat }}">
		{# Si on a choisi un stage #}
		{% if data.contrat_duree is defined %}
			<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">
			<input type="hidden" name="form" value="contrat">
		{% else %}
			<input type="hidden" name="form" value="poste">	
		{% endif %}
		

		<button type="submit" class="pull-left back col-sm-offset-2"><i class="fa fa-caret-left" aria-hidden="true"></i> Précédent</button>
	</form>
</div>

{% endblock %}