{% extends 'SosBundle::layout.html.twig' %}

{% block javascript %}
{% endblock  %}
{% block sos_body %}

    <div id="poste_hotellerie" class="col-xs-12">
        <h3 class="title-heading">Envoyez vos demandes de CV</h3>
        <br>

        <ul style="list-style-type: none;" class="">



                <li style="list-style-type: none;">
                    <form method="post" action="{{ path('demandeCv') }}">
						<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
						<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
						<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
						<input type="hidden" name="classification" value="{{ data.classification }}">

						{% for utilisateur in data.mail_demande_utilisateur %}
							<input type="hidden" name="mail_demande_utilisateur[]" value="{{ utilisateur }}">
						{% endfor %}

						<input type="hidden" name="poste" value="{{ data.poste }}">
						<input type="hidden" name="contrat" value="{{ data.contrat }}">
						<input type="hidden" name="niveau_anglais" value="{{ data.niveau_anglais }}">

						{% if data.contrat_duree is defined %}
							<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">
						{% endif %}

						{% if data.formation_minimum is defined %}
							<input type="hidden" name="formation_minimum" value="{{ data.formation_minimum }}">
						{% endif %}

						{% if data.experience_minimum is defined %}
							<input type="hidden" name="experience_minimum" value="{{ data.experience_minimum }}">
						{% endif %}

						{% if data.cursus_scolaire is defined %}
							<input type="hidden" name="cursus_scolaire" value="{{ data.cursus_scolaire }}">
						{% endif %}
						<div class="container">
                        <textarea  class="form-control" type="textarea" id="message" name="message" placeholder="Message" rows="8">
Bonjour,
    Nous recherchons un(e) {{ data.demande_poste.libelle }} à partir du {{ data.date_debut }}  en {{ data.demande_contrat.libelle }} .
    Envoyez nous votre curriculum vitae et une lettre de motivation.
    Merci de répondre à [Entrez votre adresse email]

A bientôt,
[Votre nom]
[Votre numéro de téléphone]

                    </textarea>
							<button type="submit" style="background-color: #394076; border-color: #394076" class="btn btn-block btn-warning">Envoyer</button>

						</div>
                    </form>
                </li>
		</ul>
		<div class="clearfix spacer"></div>
		{% if (js is defined) %}{{ js|raw }}{% endif %}

    <form action="{{ path('resultat')}}" method="post">
		<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
		<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
		<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
		<input type="hidden" name="classification" value="{{ data.classification }}">
		<input type="hidden" name="secteur_activite" value="{{ data.secteur_activite }}">
		<input type="hidden" name="niveau_anglais" value="{{ data.niveau_anglais }}">

		<input type="hidden" name="poste" value="{{ data.poste }}">
		<input type="hidden" name="contrat" value="{{ data.contrat }}">
		<input type="hidden" name="niveau_anglais" value="{{ data.niveau_anglais }}">

		{% if data.contrat_duree is defined %}
			<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">
		{% endif %}	

		{% if data.formation_minimum is defined %}
			<input type="hidden" name="formation_minimum" value="{{ data.formation_minimum }}">
		{% endif %}

		{% if data.experience_minimum is defined %}
			<input type="hidden" name="experience_minimum" value="{{ data.experience_minimum }}">
		{% endif %}

		{% if data.cursus_scolaire is defined %}
			<input type="hidden" name="cursus_scolaire" value="{{ data.cursus_scolaire }}">
		{% endif %}

		<input type="hidden" name="form" value="date">
		<br><br>
		<button type="submit" class="pull-left back col-sm-offset-2"><i class="fa fa-caret-left" aria-hidden="true"></i> Précédent</button>
	</form>
</div>

{% endblock %}