{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

	<div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">Quelle formation minimum ?</h3>
		<ul class="col-lg-8 col-lg-offset-2">

			{% if data.match_employe.nb == 0 %}
				<p>Aucun candidat ne correspond à vos critères. </p>
			{% elseif data.match_employe.nb > 1 %}
				<p>{{ data.match_employe.nb }} candidats correspondent à vos critères. </p>
			{% elseif data.match_employe.nb == 1 %}
				<p>{{ data.match_employe.nb }} candidat correspond à vos critères.</p>
			{% endif %}
		<br>

		{% for formation in formation_minimum %}

		        <li class="
		        	{% if formation_minimum|length == 5 %}
		        		col-sm-2 {% if loop.first %} col-sm-offset-1 {% endif %}
					{% else %}
						col-sm-{{ 12 / formation_minimum|length }}
		        	{% endif %} text-center">
		        	
		            <form method="post" action="{{ path('experience') }}">
		                <button>
		                    <img style="max-width:110px" src="{{ asset('bundles/sos/global/img/duree_contrat/' ~ formation.id ~ '.png') }}" alt="">
		                    <p>{{ formation.libelle }}</p>
		                </button>
		                <input type="hidden" value="{{ formation.id }}" name="formation_minimum">
						<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
						<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
						<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
						<input type="hidden" name="classification" value="{{ data.classification }}">
						<input type="hidden" name="secteur_activite" value="{{ data.secteur_activite }}">
						{# Si on est dans la restauration #}
						{% if data.service_activite is defined %}
							<input type="hidden" name="service_activite" value="{{ data.service_activite }}">
						{% endif %}
						<input type="hidden" name="poste" value="{{ data.poste }}">
						<input type="hidden" name="contrat" value="{{ data.contrat }}">
						<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">
						<input type="hidden" name="form" value="formation">
		            </form>
		        </li>

		{% endfor %}

		</ul>
	

   	<div class="clearfix spacer"></div>

    <form action="{{ path('duree')}}" method="post">
		<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
		<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
		<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
		<input type="hidden" name="classification" value="{{ data.classification }}">
		<input type="hidden" name="poste" value="{{ data.poste }}">
		<input type="hidden" name="secteur_activite" value="{{ data.secteur_activite }}">
		<input type="hidden" name="contrat" value="{{ data.contrat }}">
		{# Si on est dans la restauration #}
		{% if data.service_activite is defined %}
			<input type="hidden" name="service_activite" value="{{ data.service_activite }}">
		{% endif %}
		{# Si on est CDD ou CDI #}
		{% if data.formation_minimum is defined %}
			<input type="hidden" name="formation_minimum" value="{{ data.formation_minimum }}">
		{% endif %}
		
		<input type="hidden" name="form" value="contrat">

		<button type="submit" class="pull-left back col-sm-offset-2"><i class="fa fa-caret-left" aria-hidden="true"></i> Précédent</button>
	
	</form>
</div>

{% endblock %}