{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

<div id="poste_restauration" class="col-xs-12 col-sm-12 sos-form">
	<h3 class="title-heading">Pour quel secteur et poste recrutez-vous ?</h3>

	{% if data.match_employe.nb == 0 %}
		<p>il n'y a aucun candidat autour de vous. </p>
	{% elseif data.match_employe.nb > 1 %}
		<p>il y a {{ data.match_employe.nb }} candidats autour de vous. </p>
	{% elseif data.match_employe.nb == 1 %}
		<p>il y a {{ data.match_employe.nb }} candidat autour de vous.</p>
	{% endif %}
		<br>

		{% for secteur in secteurs %}
			<div class="{% if loop.first %}col-sm-3 col-sm-offset-3 first-element{% else %}col-sm-3{% endif %} poste-logo">
				<a href="#" data-target="postes-secteur-{{ secteur.id }}" class="secteur-button">
					<img style="max-width:110px" src="{{ asset('bundles/sos/global/img/secteur/'~ secteur.id ~'.png') }}" alt="" class="img-responsive form-img">
					<p class='secteur-libelle'>{{ secteur.libelle }}</p>
				</a> <br>
			</div>
		{% endfor %}
		
		{% for secteur in secteurs %}
			<form method="post" action="{{ path('contrat') }}">
				<ul class="col-lg-8 col-lg-offset-2 postes-secteur-{{ secteur.id }}" style="display:none">
					{% for poste in postes %}
						{% if secteur == poste.secteur %}

							<li class="col-xs-6 col-sm-2 text-center">
								<label>
									<img style="max-height:75px; width:auto; " src="{{ asset('bundles/sos/global/img/poste/' ~ poste.id ~ '.png') }} " alt="" class="img-responsive form-img">
									<p class="poste-libelle">{{ poste.libelle | raw }}</p>
									<input type="checkbox" {% if data.poste is defined and poste.id in data.poste %}checked="checked"{% endif %}  name="poste[]" value="{{ poste.id }}"/>
								</label>

								<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
								<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
								<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
								<input type="hidden" name="classification" value="{{ data.classification }}">
								<input type="hidden" name="form" value="poste">
							</li>

						{% endif %}
					{% endfor %}
					<li><button type="submit">Suivant</button></li>
				</ul>
			</form>
		{% endfor %}
		
	

    <div class="clearfix spacer"></div>

    <form action="{{ path('classification')}}" method="post">
		<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
		<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
		<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
		<input type="hidden" name="form" value="ville">
		
		<button type="submit" class="pull-left back col-sm-offset-2"><i class="fa fa-caret-left" aria-hidden="true"></i> Précédent</button>
	</form>
</div>


{% endblock %}