{% extends '::base.html.twig' %}

{% block body %}

	<div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">Personnes répondants à vos critères de recherche :</h3>
		<br>
		<div class="col-sm-2 hidden-md hidden-lg hidden-sm">
			<img style="max-width: 35px; float: right;" onclick="javascript:imprime_bloc('titre', 'imprime_moi');" src="{{ asset('bundles/sos/global/img/print.png') }}" alt="" class="img-responsive form-img">
		</div>
		<div class="col-sm-8 col-sm-offset-2">
			<form method="post">
				tout sélectionner <input onclick="CocheTout(this, 'mail_demande_utilisateur[]');" type="checkbox">

				<br/><br>

				<div id="imprime_moi">
                    {% for employe in data.employes %}
					<div class="container col-sm-6">
					  <div class="panel result-panel">
					    <div class="panel-heading result-panel-heading">
							<input  style="position: absolute; left: 30px; top: 15px;" type="checkbox" value="{{employe.email}}" name="mail_demande_utilisateur[]">
							{{ employe.prenom ~ ' ' ~ employe.nom ~ ' (' ~ employe.age ~' ans)'}}
						</div>
					    <div class="panel-body">
					    	<p>{{ employe.email }}</p>
					    	<p>{{ employe.telephone }}</p>
					    </div>
					  </div>
					</div>
				{% endfor %}
				</div>
			</form>

		</div>
		<div class="col-sm-2 hidden-xs">
			<img style="max-width: 35px; float: right;" onclick="javascript:imprime_bloc('titre', 'imprime_moi');" src="{{ asset('bundles/sos/global/img/print.png') }}" alt="" class="img-responsive form-img">
		</div>

   	<div class="clearfix spacer"></div>

    <form action="{{ path('date')}}" method="post">
		<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
		<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
		<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
		<input type="hidden" name="classification" value="{{ data.classification }}">
		<input type="hidden" name="secteur_activite" value="{{ data.secteur_activite }}">
		<input type="hidden" name="niveau_anglais" value="{{ data.niveau_anglais }}">

		{% if data.service_activite is defined %}
			<input type="hidden" name="service_activite" value="{{ data.service_activite }}">
		{% endif %}
		<input type="hidden" name="poste" value="{{ data.poste }}">
		<input type="hidden" name="contrat" value="{{ data.contrat }}">
		<input type="hidden" name="niveau_anglais" value="{{ data.niveau_anglais }}">

		{% if data.contrat_duree is defined %}
			<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">
		{% endif %}	

		{% if data.formation_minimum is defined %}
			<input type="hidden" name="formation_minimum" value="{{ data.formation_minimum }}">
		{% endif %}

		{% if data.experience_minimum is defined %}
			<input type="hidden" name="experience_minimum" value="{{ data.experience_minimum }}">
		{% endif %}

		{% if data.cursus_scolaire is defined %}
			<input type="hidden" name="cursus_scolaire" value="{{ data.cursus_scolaire }}">
		{% endif %}

		<input type="hidden" name="form" value="anglais">
		<button type="submit" class="pull-left back col-sm-offset-2"><i class="fa fa-caret-left" aria-hidden="true"></i> Précédent</button>
	</form>
</div>

{% endblock %}