{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}


	<form method="post" action="{{ path('demandeCv') }}">
		<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
		<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
		<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
		<input type="hidden" name="classification" value="{{ data.classification }}">
		<input type="hidden" name="poste" value="{{ data.poste }}">
		<input type="hidden" name="contrat" value="{{ data.contrat }}">

		{% if data.contrat_duree is defined %}
			<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">
		{% endif %}


		{% if data.formation_minimum is defined %}
			<input type="hidden" name="formation_minimum" value="{{ data.formation_minimum }}">
		{% endif %}


		{% if data.experience_minimum is defined %}
			<input type="hidden" name="experience_minimum" value="{{ data.experience_minimum }}">
		{% endif %}


		{% if data.cursus_scolaire is defined %}
			<input type="hidden" name="cursus_scolaire" value="{{ data.cursus_scolaire }}">
		{% endif %}

		<input type="hidden" name="niveau_anglais" value="{{ data.niveau_anglais }}">


	    <div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">Candidats autour de vous :</h3>
		<br>
		<div class="col-sm-2 hidden-md hidden-lg hidden-sm">
			<a href="{{ path('ville') }}"><img style="max-width: 35px; float: right;" src="{{ asset('bundles/sos/global/img/repeat.png') }}" alt="" class="img-responsive form-img"></a>
		</div>
		<div class="col-sm-2 hidden-md hidden-lg hidden-sm">
	         <input  style="max-width: 45px; float: right; " type="image" src="{{ asset('bundles/sos/global/img/cv.png') }}" border="0" class="img-responsive" alt="Submit" />
		</div>
		<div class="col-sm-2 hidden-md hidden-lg hidden-sm">
			<img style="max-width: 35px; float: right;" onclick="javascript:imprime_bloc('titre', 'imprime_moi');" src="{{ asset('bundles/sos/global/img/print.png') }}" alt="" class="img-responsive form-img">
		</div>
		<div class="col-sm-2">
		Modifier
		<div class="col-md-12">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoTwitter" title="Classification"><i class="fa fa-twitter" ><input name ="action" value="classification" type="image" src="{{ asset('bundles/sos/global/img/rating/' ~ data.classification )}}-stars.png" border="0" class="img-responsive"  /></i></a></li>
                        <br><br>
                        <li><a href="#" class="icoTwitter" title="Poste"><i class="fa fa-twitter" ><input name ="action" value="poste" type="image" src="{{ asset('bundles/sos/global/img/poste/' ~ data.poste  ~ '.png') }} " border="0" class="img-responsive"  /></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Type de contrat"><i class="fa fa-twitter" ><input name ="action" value="contrat" type="image" src="{{ asset('bundles/sos/global/img/contrat/' ~ data.contrat ~ '.png') }} " border="0" class="img-responsive"  /></i></a></li>

                        <br><br>
                        {% if data.contrat_duree is defined %}
                        <li><a href="#" class="icoTwitter" title="Durée du contrat"><i class="fa fa-twitter" ><input style="width: 75%;" name ="action" value="contrat_duree" type="image"  src="{{ asset('bundles/sos/global/img/duree_contrat/' ~ data.contrat_duree  ~ '.png') }} " border="0" class="img-responsive" /></i></a></li>
                       	{% endif %}
                        <li><a href="#" class="icoTwitter" title="Niveau d'anglais"><i class="fa fa-twitter" ><input name ="action" value="niveau_anglais" type="image"  src="{{ asset('bundles/sos/global/img/anglais/' ~ data.niveau_anglais  ~ '.png') }} " border="0" class="img-responsive"/></i></a></li>
                    </ul>
        </div>
		</div>

		<div class="col-sm-8">
				tout sélectionner <input onclick="CocheTout(this, 'mail_demande_utilisateur[]');" type="checkbox">

				<br/><br>

                    {% for employe in data.employes %}
					<div class="container col-sm-6">
					  <div class="panel result-panel">
					    <div class="panel-heading result-panel-heading">
							<input  style="position: absolute; left: 30px; top: 15px;" type="checkbox" value="{{employe.email}}" name="mail_demande_utilisateur[]">
							{{ employe.prenom ~ ' ' ~ employe.nom ~ ' (' ~ employe.age ~' ans)'}}
						</div>
					    <div class="panel-body">
					    	<p>{{ employe.email }}</p>
					    	<p>{{ employe.telephone }}</p>
					    </div>
					    <p>{{ employe.nbRecommandation }} recommandation</p>
					  </div>
					</div>
				{% endfor %}




		</div>
		<div class="col-sm-2">
		Outils
		<div class="col-md-12">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoTwitter" data-toggle="tooltip" title="Imprimer les resultats" ><i class="fa fa-twitter" ><input name ="action" value="imprimer" style="max-width: 40px; float: right; " type="image" src="{{ asset('bundles/sos/global/img/print.png') }}" border="0" class="img-responsive"  /></i></a></li>
                        <li><a href="#" class="icoTwitter" data-toggle="tooltip" title="Demander les CV"><i class="fa fa-twitter" ><input name ="action" value="demandeCV"  style="max-width: 45px; float: right; " type="image" src="{{ asset('bundles/sos/global/img/cv.png') }}" border="0" class="img-responsive" alt="Submit" /></i></a></li>
                        <br><br>
                       <input type="hidden" name="form" value="resultat">
                       </form>
                        <form action="{{ path('secteur')}}" method="post">
                        <input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
                        <input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
                        <input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
                        <input type="hidden" name="classification" value="{{ data.classification }}">
                        <input type="hidden" name="form" value="classification">
                        <li><a href="#" class="icoTwitter" data-toggle="tooltip" title="Recommencer une recherche"><i class="fa fa-twitter" ><input name ="action" value=""  style="max-width: 35px; float: right; " type="image" src="{{ asset('bundles/sos/global/img/repeat.png') }}" border="0" class="img-responsive form-img" alt="Submit" /></i></a></li>
                        </form>

                    </ul>
        </div>





		</div>







   	<div class="clearfix spacer"></div>
   	{% if (js is defined) %}{{ js|raw }}{% endif %}


    <form action="{{ path('date')}}" method="post">
		<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
		<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
		<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
		<input type="hidden" name="classification" value="{{ data.classification }}">
		<input type="hidden" name="niveau_anglais" value="{{ data.niveau_anglais }}">

		<input type="hidden" name="poste" value="{{ data.poste }}">
		<input type="hidden" name="contrat" value="{{ data.contrat }}">
		<input type="hidden" name="niveau_anglais" value="{{ data.niveau_anglais }}">

		{% if data.contrat_duree is defined %}
			<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">
		{% endif %}	

		{% if data.formation_minimum is defined %}
			<input type="hidden" name="formation_minimum" value="{{ data.formation_minimum }}">
		{% endif %}

		{% if data.experience_minimum is defined %}
			<input type="hidden" name="experience_minimum" value="{{ data.experience_minimum }}">
		{% endif %}

		{% if data.cursus_scolaire is defined %}
			<input type="hidden" name="cursus_scolaire" value="{{ data.cursus_scolaire }}">
		{% endif %}

		<input type="hidden" name="form" value="anglais">
		<br><br>
		<button type="submit" class="pull-left back col-sm-offset-2"><i class="fa fa-caret-left" aria-hidden="true"></i> Précédent</button>
	</form>
</div>

{% endblock %}