{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}


	<form method="post" action="{{ path('demandeCv') }}">
		<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
		<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
		<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
		<input type="hidden" name="classification" value="{{ data.classification }}">
		<input type="hidden" name="poste" value="{{ data.poste }}">
		<input type="hidden" name="contrat" value="{{ data.contrat }}">
		<input type="hidden" name="date_debut" value="{{ data.date_debut }}">

		{% if data.contrat_duree is defined %}
			<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">
		{% endif %}


		{% if data.formation_minimum is defined %}
			<input type="hidden" name="formation_minimum" value="{{ data.formation_minimum }}">
		{% endif %}


		{% if data.experience_minimum is defined %}
			<input type="hidden" name="experience_minimum" value="{{ data.experience_minimum }}">
		{% endif %}


		{% if data.cursus_scolaire is defined %}
			<input type="hidden" name="cursus_scolaire" value="{{ data.cursus_scolaire }}">
		{% endif %}




	    <div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">Voici les candidats correspondants à votre recherche :</h3>
		<br>

		<div class="col-sm-2">
		Modifier
		<div class="col-md-12">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoTwitter" data-toggle="tooltip" title="Classification" ><i class="" ><input name ="action" value="classification" style=" height:50px; background-image: url({{ asset('bundles/sos/global/img/rating/' ~ data.classification )}}-stars.png); color: transparent; float: right; border:none; background-color: transparent; background-repeat:no-repeat;background-size:contain;" class="img-responsive" type="submit" border="0"   /></i></a></li>
                        <li><a href="#" class="icoTwitter" data-toggle="tooltip" title="Poste" ><i class="" ><input name ="action" value="poste" style=" height:50px; background-image: url({{ asset('bundles/sos/global/img/poste/' ~ data.poste  ~ '.png') }}); color: transparent; float: right; border:none; background-color: transparent; background-repeat:no-repeat;background-size:contain;" class="img-responsive" type="submit" border="0"   /></i></a></li>
                        <br>
                        <li><a href="#" class="icoTwitter" data-toggle="tooltip" title="Type de contrat" ><i class="" ><input name ="action" value="contrat" style=" height:50px; background-image: url({{ asset('bundles/sos/global/img/contrat/' ~ data.contrat ~ '.png') }}); color: transparent; float: right; border:none; background-color: transparent; background-repeat:no-repeat;background-size:contain;" class="img-responsive" type="submit" border="0"   /></i></a></li>
                       	{% if data.cursus_scolaire is defined %}
                       	<li><a href="#" class="icoTwitter" data-toggle="tooltip" title="Cursus scolaire" ><i class="" ><input name ="action" value="cursus_scolaire" style=" margin-top:6px; height:50px; background-image: url({{ asset('bundles/sos/global/img/cursus/' ~ data.cursus_scolaire  ~ '.png') }}); color: transparent; float: right; border:none; background-color: transparent; background-repeat:no-repeat;background-size:contain;" class="img-responsive" type="submit" border="0"   /></i></a></li>
                       	{% endif %}
                       	{% if data.experience_minimum is defined %}
                       	<li><a href="#" class="icoTwitter" data-toggle="tooltip" title="Expérience" ><i class="" ><input name ="action" value="experience_minimum" style=" height:50px; background-image: url({{ asset('bundles/sos/global/img/experience/' ~ data.experience_minimum  ~ '.png') }}); margin-top: 6px; width: 100%; color: transparent; float: right; border:none; background-color: transparent; background-repeat:no-repeat;background-size:contain;" class="img-responsive" type="submit" border="0"   /></i></a></li>
                       	{% endif %}
                       	<br>
                       	{% if data.contrat_duree is defined %}
                       	<li><a href="#" class="icoTwitter" data-toggle="tooltip" title="Durée du contrat" ><i class="" ><input name ="action" value="contrat_duree" style=" height:50px; background-image: url({{ asset('bundles/sos/global/img/duree_contrat/' ~ data.contrat_duree  ~ '.png') }}); width: 90%; color: transparent; float: right; border:none; background-color: transparent; background-repeat:no-repeat;background-size:contain;" class="img-responsive" type="submit" border="0"   /></i></a></li>
                       	{% endif %}


                    </ul>
        </div>
		</div>

		<div class="col-sm-8">
				tout sélectionner <input onclick="CocheTout(this, 'mail_demande_utilisateur[]');" type="checkbox">

				<br/><br>
                    {% if data.employes == null %}
                           <img style="max-width:110px" src="{{ asset('bundles/sos/global/img/loupeRes.png') }}" alt="" class="img-responsive form-img">
                           <br>
                           AUCUN CANDIDAT
                        {% endif %}

                    {% for employe in data.employes %}
					<div class="container col-sm-6">
					  <div class="panel result-panel">
					    <div class="panel-heading result-panel-heading">
							<input  style="position: absolute; left: 30px; top: 15px;" type="checkbox" value="{{employe.email}}" name="mail_demande_utilisateur[]">
							<a style="color: white;" href="{{ path('public_profil', {'id' : employe.id}) }}">{{ employe.prenom ~ ' ' ~ employe.nom ~ ' (' ~ employe.age ~' ans)'}} &nbsp &nbsp &nbsp{{'à '~ employe.distance ~' km' }} <i style="position: absolute; right: 30px; top: 15px;" class="fa fa-search" ></i></a>
						    </div>
					    <div class="panel-body">
					    	<p>{{ employe.email }}</p>
					    	<p>{{ employe.telephone }}</p>
					    </div>
					    {% if employe.getRecommandations()|length == 0 %}

                        {% elseif employe.getRecommandations()|length > 1 %}
                        	{% set nbReco = 0 %}
                        	{% for reco in employe.getRecommandations() %}
								{% if reco.valide == 2 %}
									{% set nbReco = nbReco + 1 %}
								{% endif %}
                        	{% endfor %}
                            {% if nbReco > 0 %}
								<p>
									<a href="#" class="icoTwitter" data-toggle="tooltip" title='
									{% for reco in employe.getRecommandations() %}
										{% if reco.valide == 2 %}
											{{ reco.nomEtablissement }};
										{% endif %}
									{% endfor %}'>{{ nbReco }} recommandations
									</a>
								</p>
                            {% else %}
                            	<p>0 recommandation</p>
                            {% endif %}
                        {% elseif employe.getRecommandations()|length  == 1 %}
                        	{% set nbReco = 0 %}
                        	{% for reco in employe.getRecommandations() %}
								{% if reco.valide == 2 %}
									{% set nbReco = nbReco + 1 %}
								{% endif %}
                        	{% endfor %}
                            {% if nbReco > 0 %}
								<p>
									<a href="#" class="icoTwitter" data-toggle="tooltip" title='
									{% for reco in employe.getRecommandations() %}
										{% if reco.valide == 2 %}
											{{ reco.nomEtablissement }};
										{% endif %}
									{% endfor %}' >{{ nbReco }} recommandation</a>
								</p>
                            {% else %}
                            	<p>0 recommandation</p>
                            {% endif %}

                        {% endif %}

					  </div>
					</div>
				{% endfor %}




		</div>
		<div class="col-sm-2">
		Outils
		<div class="col-md-12">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoTwitter" data-toggle="tooltip" title="Imprimer les resultats" ><i class="" ><input name ="action" value="imprimer" style="background-image: url({{ asset('bundles/sos/global/img/print.png') }}); color: transparent; max-width: 40px; float: right; border:none;background-color: transparent; background-repeat:no-repeat;background-size:100% 100%;" type="submit" border="0"   /></i></a></li>
                       <input type="hidden" name="form" value="resultat">
                       </form>
                        <form style="display: inline;" action="{{ path('poste')}}" method="post">
                        <input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
                        <input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
                        <input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
                        <input type="hidden" name="classification" value="{{ data.classification }}">
                        <input type="hidden" name="form" value="classification">
                        <li><a href="#" class="icoTwitter" data-toggle="tooltip" title="Recommencer une recherche"><i class="" ><input name ="action" value=""  style="max-width: 35px; float: right; " type="image" src="{{ asset('bundles/sos/global/img/repeat.png') }}" border="0" class="img-responsive form-img" alt="Submit" /></i></a></li>
                        </form>

                    </ul>
        </div>





		</div>







   	<div class="clearfix spacer"></div>
   	{% if (js is defined) %}{{ js|raw }}{% endif %}


    <form action="{{ path('date')}}" method="post">
		<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
		<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
		<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
		<input type="hidden" name="classification" value="{{ data.classification }}">

		<input type="hidden" name="poste" value="{{ data.poste }}">
		<input type="hidden" name="contrat" value="{{ data.contrat }}">

		{% if data.contrat_duree is defined %}
			<input type="hidden" name="contrat_duree" value="{{ data.contrat_duree }}">
		{% endif %}	

		{% if data.formation_minimum is defined %}
			<input type="hidden" name="formation_minimum" value="{{ data.formation_minimum }}">
		{% endif %}

		{% if data.experience_minimum is defined %}
			<input type="hidden" name="experience_minimum" value="{{ data.experience_minimum }}">
		{% endif %}

		{% if data.cursus_scolaire is defined %}
			<input type="hidden" name="cursus_scolaire" value="{{ data.cursus_scolaire }}">
		{% endif %}

		<input type="hidden" name="form" value="anglais">
		<br><br>
		<button type="submit" class="pull-left back col-sm-offset-2"><i class="fa fa-caret-left" aria-hidden="true"></i> Précédent</button>
	</form>
</div>

{% endblock %}