{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

	<div id="service" class="col-xs-12 sos-form">
	<h3 class="title-heading">Dans quel service d’activité recrutez vous ?</h3>
		
		{% if data.match_employe.nb == 0 %}
			<p>Personne ne correspond à vos critères. </p>
		{% elseif data.match_employe.nb > 1 %}
			<p>{{ data.match_employe.nb }} personnes correspondent à vos critères. </p>
		{% elseif data.match_employe.nb == 1 %}
			<p>{{ data.match_employe.nb }}personne correspond à vos critères.</p>
		{% endif %}
		<br>

	<ul class="col-lg-8 col-lg-offset-2">
		
		{% for service in services %}

	        <li class="col-sm-6 col-md-6 text-center">
	            <form method="post" action="{{ path('poste') }}">
	                <button>
	                    <img src="{{ asset('bundles/sos/global/img/service/'~ service.id ~'-service.png') }}" alt="" class="img-responsive form-img">
	                    <p>{{ service.libelle }}</p>
	                </button>
	                <input type="hidden" value="{{ service.id }}" name="service_activite">
	                <input type="hidden" name="form" value="service">
					<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
					<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
					<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
					<input type="hidden" name="classification" value="{{ data.classification }}">
					<input type="hidden" name="secteur_activite" value="{{ data.secteur_activite }}">
	            </form>
	        </li>

	    {% endfor %}

	</ul>

    <div class="clearfix spacer"></div>

    <form action="{{ path('secteur')}}" method="post">
		<input type="hidden" name="ville[libelle]" value="{{ data.ville.libelle }}">
		<input type="hidden" name="ville[latitude]" value="{{ data.ville.latitude }}">
		<input type="hidden" name="ville[longitude]" value="{{ data.ville.longitude }}">
		<input type="hidden" name="classification" value="{{ data.classification }}">
		<input type="hidden" name="form" value="classification">
		<button type="submit" class="pull-left back col-sm-offset-2"><i class="fa fa-caret-left" aria-hidden="true"></i> Précédent</button>
	</form>
    
</div>

{% endblock %}