<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		  <meta property="og:url"           content="http://soshcr.fr/dev/soshcr2/web/app_dev.php/medaille/1" />
          <meta property="og:type"          content="website" />
          <meta property="og:title"         content="Soshcr : Hôtel Café Restaurant" />
          <meta property="og:description"   content="Felicitations, tu as 1 recommandation !" />
          <meta property="og:image"         content="http://soshcr.fr/img/20_reco.png" />
        <title>{% block title %}Soshcr : Hôtel Café Restaurant{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/sos/global/css/jquery-ui/jquery-ui.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/global/css/jquery-ui/jquery-ui.structure.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/global/css/jquery-ui/jquery-ui.theme.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/font-awesome/css/font-awesome.css') }}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('bundles/sos/global/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/bootstrap/css/bootstrap-theme.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/bootstrap/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/fancybox/css/jquery.fancybox.min.css') }}">
            <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
            <link rel="stylesheet" type="text/css"  media="print">
            <link rel="stylesheet" href="{{ asset('bundles/sos/login-modal/assets/css/form-elements.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sos/sweetalert/sweetalert.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/login-modal/assets/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/sos/datepicker/datepicker.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/png" src="{{ asset('bundles/sos/global/img/logo.png') }}" />
    </head>
    <body>
        
        {% include('header.html.twig') %}          
        {% block body %}
        	<div class="container">
	    		<a href="{{ path('ville') }}"  id="container-btn" class="col-xs-12">
	        	<span id="find-btn">TROUVER</span>
	        	<p id="text-btn">l' employé idéal</p>
	    		</a>
			</div>
        {% endblock %}
        {% include('footer.html.twig') %}  

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/sos/global/js/jquery-1.11.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/sos/global/js/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/sos/sweetalert/sweetalert.min.js') }}"></script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZUgAv7tkerkL2y5D1jwcvux9gGZ2NCE&libraries=places&region=fr"></script>
            <script type="text/javascript" src="{{ asset('bundles/sos/global/js/script.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/sos/bootstrap/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/sos/fancybox/js/jquery.fancybox.min.js') }}"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/sos/login-modal/assets/js/scripts.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/sos/datepicker/datepicker.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/sos/datepicker/datepicker.fr.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </body>
</html>
