{% extends 'SosBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link href="{{ asset('bundles/sos/tablesorter/themes/blue/style.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/sos/tablesorter/jquery.tablesorter.js') }}"></script>
    <script>
		$(document).ready(function() 
	    { 
	        $("#myTable").tablesorter({
	    		headers: {8: {sorter: false}}
			}); 
	    } 
		); 
	</script>
{% endblock %}
{% block sos_body %}
<div class="container">
	<h3 class="page-header">Recherche de profils</h3>
	<form method="POST" class="form-inline" action="{{ path('utilisateurs') }}">
		<div class="form-group">
			<div class="form-group">
				<label for="">Nom : <input type="text" class="form-control" name="nom"></label>
			</div>
			<div class="form-group">
				<label for="">Prénom : <input type="text" class="form-control" name="prenom"></label>
			</div>
			<div class="form-group">
				<label for="">Téléphone : <input type="text" class="form-control" name="telephone"></label>
			</div>
			<input type="submit" name="rechercher" value="Rechercher" class="btn btn-soshcr">
			<input type="submit" name="rechercherAll" value="Voir tous les profils" class="btn btn-soshcr">
		</div>
</div>
</form>
{% if result1 is defined %}
	<div class="col-xs-12">
	<div class="table-responsive">
		<table id="myTable" class="table text-center table-striped tablesorter">
			<thead>
				<tr>
					<th class="text-center">Nom</th>
					<th class="text-center">Prenom</th>
					<th class="text-center">Age</th>
					<th class="text-center">Telephone</th>
					<th class="text-center">Email</th>
					<th class="text-center">Recommandation</th>
					<th class="text-center">Date d'inscription</th>
					<th class="text-center">Score</th>
					<th class="text-center sorter-false">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for result in result1 %}
				<tr>
					<td class="text-center"><a href="{{ path('public_profil', {'id': result.id}) }}">{{result.nom}}</a></td>
					<td class="text-center"><a href="{{ path('public_profil', {'id': result.id}) }}">{{result.prenom}}</a></td>
					<td class="text-center">{{age}}</td>
					<td class="text-center">{{result.telephone}}</td>
					<td class="text-center">{{result.email}}</td>
					<td class="text-center">
					{{nbRecommandation}}
					</td>
					<td class="text-center">
						{% if result.date_inscription is not empty %}
							{{result.date_inscription|date("d/m/Y")}}
						{% endif %}
					</td>
					<td class="text-center">
						{% for key,value in item %}
							{% if result.id == key %}
								{% if value is null %}
									0
									{% else %}
									{{value.score}}
								{% endif %}
							{% endif %}
						{% endfor %}
					</td>
					<td class="text-center">
						{% if result.roles == "a:0:{}" %}
							<input type="checkbox" name="id_utilisateur[]" value="{{result.id}}" />
						{% endif %}					
					</td>
				</tr>
				{% endfor %}	
				
			</tbody>
		</table>
<input type="submit" class="btn btn-soshcr" name="supprimer" value="Supprimer le profil">			
	</div>
</div>
{% endif %}
{% if utilisateurs is defined %}
	
<form class="form-horizontal" method="POST" action="{{ path('utilisateurs') }}">
    <div class="table-responsive">
		<table id="myTable" class="table text-center table-striped tablesorter">
			<thead>
				<tr>
					<th class="text-center">Nom</th>
					<th class="text-center">Prenom</th>
					<th class="text-center">Age</th>
					<th class="text-center">Telephone</th>
					<th class="text-center">Email</th>
					<th class="text-center">Recommandation</th>
				  <th class="text-center">Date d'inscription</th>
				  <th class="text-center">Score</th>
					<th class="text-center">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for utilisateur in utilisateurs %}
				<tr>
					<td><a href="{{ path('public_profil', {'id': utilisateur.id}) }}">{{utilisateur.nom}}</a></td>
					<td><a href="{{ path('public_profil', {'id': utilisateur.id}) }}">{{utilisateur.prenom}}</a></td>
					<td class="text-right">{{utilisateur.getage()}}</td>
					<td class="text-center">{{utilisateur.telephone}}</td>
					<td class="text-center">{{utilisateur.email}}</td>
					<td class="text-center">
					{% for key,value in items %}
						{% if key == utilisateur.id %}
    						{{ value }}
    					{% endif %}
					{% endfor %}
					</td>
					<td class="text-center">{{utilisateur.dateInscription|date("d/m/Y")}}</td>
					<td class="text-center">
						{% for key,value in item %}
							{% if utilisateur.id == key %}
								{% if value is null %}
									0
									{% else %}
									{{value.score}}
								{% endif %}
							{% endif %}
						{% endfor %}
					</td>
					<td class="text-center">
						{% if utilisateur.roles[0] != "ROLE_ADMIN" %}
							<input type="checkbox" name="id_utilisateur[]" value="{{utilisateur.id}}" />
						{% endif %}
					</td>
				</tr>
				{% endfor %}	
				
			</tbody>
		</table>
		<input type="submit" class="btn btn-soshcr" name="supprimer" value="Supprimer le profil">			
	</div>
</form>
{% endif %}
{% endblock %}
