{% extends 'SosBundle::layout.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
    <link href="{{ asset('bundles/sos/tablesorter/themes/blue/style.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/sos/tablesorter/jquery.tablesorter.js') }}"></script>
    <script>
		$(document).ready(function() 
	    { 
	        $("#myTable").tablesorter({
	    		headers: {8: {sorter: false}}
			}); 
	    } 
		); 
	</script>
{% endblock %}
{% block sos_body %}
	<h3>Recherche de profils</h3>
	<form method="POST" action="{{ path('utilisateurs') }}">
	Nom : <input type="text" name="nom">
	Prénom : <input type="text" name="prenom">
	Téléphone : <input type="text" name="telephone">	
	<input type="submit" name="rechercher" value="Rechercher">
	<input type="submit" name="rechercherAll" value="Voir tous les profils">
</form>
{% if result1 is defined %}
	<div class="col-xs-12">
<div class="table-responsive">
		<table id="myTable" class="table text-center table-striped tablesorter">
			<thead>
				<tr>
					<th class="text-center">Nom</th>
					<th class="text-center">Prenom</th>
					<th class="text-center">Age</th>
					<th class="text-center">Telephone</th>
					<th class="text-center">Email</th>
					<th class="text-center">Recommandation</th>
					<th class="text-center">Date d'inscription</th>
					<th class="text-center">Score</th>
					<th class="text-center sorter-false">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for result in result1 %}
				<tr>
					<td><a href="{{ path('public_profil', {'id': result.id}) }}">{{result.nom}}</a></td>
					<td><a href="{{ path('public_profil', {'id': result.id}) }}">{{result.prenom}}</a></td>
					<td>{{age}}</td>
					<td>{{result.telephone}}</td>
					<td>{{result.email}}</td>
					<td>
					{{nbRecommandation}}
					</td>
					<td>
						{% if result.date_inscription is not empty %}
							{{result.date_inscription|date("d/m/Y")}}
						{% endif %}
					</td>
					<td>
						{% for key,value in item %}
							{% if result.id == key %}
								{% if value is null %}
									0
									{% else %}
									{{value.score}}
								{% endif %}
							{% endif %}
						{% endfor %}
					</td>
					<td>
						{% if result.roles == "a:0:{}" %}
							<input type="checkbox" name="id_utilisateur[]" value="{{result.id}}" />
						{% endif %}					
					</td>
				</tr>
				{% endfor %}	
				
			</tbody>
		</table>
<input type="submit" name="supprimer" value="Supprimer le profil">			
	</div>
</div>
{% endif %}
{% if utilisateurs is defined %}
	
<form class="form-horizontal" method="POST" action="{{ path('utilisateurs') }}">
    <div class="table-responsive">
		<table id="myTable" class="table text-center table-striped tablesorter">
			<thead>
				<tr>
					<th class="text-center">Nom</th>
					<th class="text-center">Prenom</th>
					<th class="text-center">Age</th>
					<th class="text-center">Telephone</th>
					<th class="text-center">Email</th>
					<th class="text-center">Recommandation</th>
				    <th class="text-center">Date d'inscription</th>
				    <th class="text-center">Score</th>
					<th class="text-center">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for utilisateur in utilisateurs %}
				<tr>
					<td><a href="{{ path('public_profil', {'id': utilisateur.id}) }}">{{utilisateur.nom}}</a></td>
					<td><a href="{{ path('public_profil', {'id': utilisateur.id}) }}">{{utilisateur.prenom}}</a></td>
					<td>{{utilisateur.getage()}}</td>
					<td>{{utilisateur.telephone}}</td>
					<td>{{utilisateur.email}}</td>
					<td>
					{% for key,value in items %}
						{% if key == utilisateur.id %}
    						{{ value }}
    					{% endif %}
					{% endfor %}
					</td>
					<td>{{utilisateur.dateInscription|date("d/m/Y")}}</td>
					<td>
						{% for key,value in item %}
							{% if utilisateur.id == key %}
								{% if value is null %}
									0
									{% else %}
									{{value.score}}
								{% endif %}
							{% endif %}
						{% endfor %}
					</td>

					<td>
						{% if utilisateur.roles[0] != "ROLE_ADMIN" %}
							<input type="checkbox" name="id_utilisateur[]" value="{{utilisateur.id}}" />
						{% endif %}
					</td>
				</tr>
				{% endfor %}	
				
			</tbody>
		</table>
<input type="submit" name="supprimer" value="Supprimer le profil">			
	</div>
</form>
{% endif %}
{% endblock %}
