{% extends 'SosBundle::layout.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
    <link href="{{ asset('bundles/sos/tablesorter/themes/blue/style.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ asset('bundles/sos/tablesorter/jquery.tablesorter.js') }}"></script>
    <script>
	$(document).ready(function() 
    { 
        $("#myTable").tablesorter({
    headers: {7: {sorter: false}}
}); 
    } 
	); 
</script>
{% endblock %}
{% block sos_body %}
	<h3>Recherche de profils</h3>
<form method="POST" action="{{ path('utilisateurs') }}">
	Nom : <input type="text" name="nom">
	Prénom : <input type="text" name="prenom">
	Téléphone : <input type="text" name="telephone">	
	<input type="submit" name="rechercher" value="Rechercher">
	<input type="submit" name="rechercherAll" value="Voir tous les profils">
</form>
{% if result1 is defined %}
<div class="table-responsive">
		<table id="myTable" class="table text-center table-striped tablesorter">
			<thead>
				<tr>
					<th class="text-center">Nom</th>
					<th class="text-center">Prenom</th>
					<th class="text-center">Age</th>
					<th class="text-center">Telephone</th>
					<th class="text-center">Email</th>
					<th class="text-center">Recommandation</th>
					<th class="text-center sorter-false">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for result in result1 %}
				<tr>
					<td><a href="{{ path('public_profil', {'id': result.id}) }}">{{result.nom}}</a></td>
					<td><a href="{{ path('public_profil', {'id': result.id}) }}">{{result.prenom}}</a></td>
					<td>{{age}}</td>
					<td>{{result.telephone}}</td>
					<td>{{result.email}}</td>
					<td></td>
					<td>
						<input type="checkbox" name="id_utilisateur[]" value="{{result.id}}" />
					</td>
				</tr>
				{% endfor %}	
				
			</tbody>
		</table>
<input type="submit" name="supprimer" value="Supprimer le profil">			
	</div>
{% endif %}
{% if utilisateurs is defined %}
<form class="form-horizontal" method="POST" action="{{ path('utilisateurs') }}">
    <div class="table-responsive">
		<table id="myTable" class="table text-center table-striped tablesorter">
			<thead>
				<tr>
					<th class="text-center">Nom</th>
					<th class="text-center">Prenom</th>
					<th class="text-center">Age</th>
					<th class="text-center">Telephone</th>
					<th class="text-center">Email</th>
					<th class="text-center">Recommandation</th>
					<th class="text-center">Region</th>
					<th class="text-center">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for utilisateur in utilisateurs %}
				<tr>
					<td><a href="{{ path('public_profil', {'id': utilisateur.id}) }}">{{utilisateur.nom}}</a></td>
					<td><a href="{{ path('public_profil', {'id': utilisateur.id}) }}">{{utilisateur.prenom}}</a></td>
					<td>{{utilisateur.getage()}}</td>
					<td>{{utilisateur.telephone}}</td>
					<td>{{utilisateur.email}}</td>
					<td></td>
					<td>Region</td>
					<td>
						<input type="checkbox" name="id_utilisateur[]" value="{{utilisateur.id}}" />
					</td>
				</tr>
				{% endfor %}	
				
			</tbody>
		</table>
<input type="submit" name="supprimer" value="Supprimer le profil">			
	</div>
</form>
{% endif %}
{% endblock %}
