{% extends 'SosBundle::layout.html.twig' %}
{% block sos_body %}
	<h3> Profils en attente de validation </h3>
<form class="form-horizontal" method="POST" action="{{ path('validation') }}">
    <div class="table-responsive">
		<table id="myTable" class="table text-center table-striped tablesorter">
			<thead>
				<tr>
					<th class="text-center">Nom</th>
					<th class="text-center">Prenom</th>
					<th class="text-center">Age</th>
					<th class="text-center">Telephone</th>
					<th class="text-center">Email</th>
					<th class="text-center">Valider</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					<td><a href="">{{user.nom}}</a></td>
					<td><a href="">{{user.prenom}}</a></td>
					<td>{{user.datenaissance|date("m/d/Y")}}</td>
					<td>{{user.telephone}}</td>
					<td>{{user.email}}</td>
					<td>
						<input type="checkbox" name="id_utilisateur[]" value="{{user.id}}" />
					</td>
				</tr>
				{% endfor %}	
				
			</tbody>
		</table>
<input type="submit" name="valider" value="Valider les profils" class="btn btn-soshcr">			
	</div>
</form>
{% endblock %}