{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

    <div class="container" id="public_profil">
      
      <h1 class="page-header">{{ user.prenom|upper ~ ' ' ~ user.nom|upper }} ({{ userAge }} ans)</h1>
      <div class="row">

        <!-- edit form column -->
        <div class="personal-info">
          <div class="col-sm-8 text-left">
            <div class="col-sm-6 contact-infos">
              <a href="mailto:{{ user.email }}"><i class="fa fa-envelope prim-color" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{ user.email }}</a> <br>
              <a href="tel:{{ user.telephone }}"><i class="fa fa-phone" aria-hidden="true"></i></i>&nbsp;&nbsp;&nbsp;{{ user.telephone }}</a> <br><br>
            </div>


            {% if userCriteres|length == 0 %}

            <div class="alert alert-soshcr alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a><i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;&nbsp;{{ user.prenom }}, n'a pas encore rempli ses critères de recherches.
            </div>

            {% else %}
            <div class="col-xs-12 col-sm-6">
                <h4 style="color:#555;font-weight:bold">Formation</h4>
                <ul>
                    {% for formation in userCriteres.formations %}
                        <li>{{ formation|raw }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="clearfix"></div>
              <div class="col-xs-12 col-sm-6">
                <h4 style="color:#555;font-weight:bold">Experience</h4>
                <ul>
                  {% for poste in userCriteres.postes %}
                    <li>
                      {{ poste.poste|raw }} ( {{ poste.experience|raw }} )
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6">
                <h4 style="color:#555;font-weight:bold">Recherche</h4>
                <ul>
                  {% for contrat in userCriteres.contrats %}
                    <li>
                      {{ contrat.contrat }}
                      {% if contrat.duree is empty == false and contrat.cursus is empty %}
                        ({% for duree in contrat.duree %}
                              {% if loop.last == false %}
                                {{ duree|raw }},
                              {% else %}
                                {{ duree|raw }}
                              {% endif %}
                        {% endfor %})
                      {% endif %}
                      {% if contrat.duree is empty and contrat.cursus is empty == false %}
                        ({% for cursus in contrat.cursus %}
                              {% if loop.last == false %}
                                {{ cursus|raw }},
                              {% else %}
                                {{ cursus|raw }}
                              {% endif %}
                        {% endfor %})
                      {% endif %}
                      {% if contrat.duree is empty == false and contrat.cursus is empty == false %}
                        ({% for duree in contrat.duree %}
                              {% if loop.last == false or loop.first %}
                                {{ duree|raw }},
                              {% else %}
                                {{ duree|raw }}
                              {% endif %}
                        {% endfor %}
                        {% for cursus in contrat.cursus %}
                              {% if loop.last == false %}
                                {{ cursus|raw }},
                              {% else %}
                                {{ cursus|raw }}
                              {% endif %}
                        {% endfor %})
                      {% endif %}                    
                      
                    </li>
                  {% endfor %}
                </ul>
              </div>

              <div class="clearfix"></div>
             <div class="col-xs-12 col-sm-6">
                <h4 style="color:#555;font-weight:bold">Recommandations</h4>
                <ul>
                    {% set nbAttenteRecommandation = 0 %}
                    {% for recommandation in recommandations %}
                        {% if recommandation.valide == 2 %}
                            <li>
                                {{ recommandation.nomEtablissement }}, {{ recommandation.ville }}
                            </li>
                        {% else %}
                            {% set nbAttenteRecommandation =  nbAttenteRecommandation + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if nbAttenteRecommandation == recommandations|length or recommandations|length == 0 %}
                        (Pas encore de recommandations)
                    {% endif %}
             </div>
              <div class="col-xs-12 col-sm-6">
                <h4 style="color:#555;font-weight:bold">Anglais</h4>
                <ul>
                  <li>{{ userCriteres.anglais|raw}}</li>
                </ul>
              </div>

            {% endif %}

          </div>

          <div class="col-xs-12 col-sm-4">
                <h4 style="color:#555;font-weight:bold">Disponibilités</h4>
            <input type='hidden' id="datepicker" name="date_debut" data-language='fr' class="datepicker-public-profil form-control" data-position="left top" /><br>
            <p class="col-sm-12 text-center"><span class="bage-disponible"></span>&nbsp;Disponible</p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

<script>

  var dateArr = [];

  {% for disponibilite in userCriteres.disponibilite %}
    {% for d in disponibilite %}
      var str = "{{d}}";
      if (str != "")
      {

        var today = new Date();

        // Si c'est un range de dates
        if (/[0-9]{2}\/[0-9]{2}\/[0-9]{4} - [0-9]{2}\/[0-9]{2}\/[0-9]{4}/.test(str))
        {
          var startDate = toDate(str.replace(/(.*) - [0-9]{2}\/[0-9]{2}\/[0-9]{4}/, '$1'));
          var endDate = toDate(str.replace(/[0-9]{2}\/[0-9]{2}\/[0-9]{4} - ([0-9]{2}\/[0-9]{2}\/[0-9]{4})/, '$1'));
          var arr = [startDate,endDate];

          while (startDate <= endDate) {
              if (startDate.setHours(0,0,0,0) >= today.setHours(0,0,0,0))
              {
                dateArr.push(new Date(startDate));
              }
            startDate.setDate(startDate.getDate() + 1);
          }
        }
        else
        {
          var date = toDate(str);
          if (date.setHours(0,0,0,0) >= today.setHours(0,0,0,0))
          {
            dateArr.push(date);
          }
        }

      }
    {% endfor %}
  {% endfor %}

  var $picker = $('.datepicker-public-profil');

  $picker.datepicker({
     
      language: 'fr',
      inline: true,
      multipleDates: true,
      showOtherMonths: true,
      minDate: new Date(),
      toggleSelected: false,
      onRenderCell: function(day, cellType){
        return {
            classes: 'public-profil-cell',
            disabled: true
        }      
      }
  });
  $picker.data('datepicker').selectDate(dateArr);
  $picker.data('datepicker').date = new Date();
</script>
{% endblock %}